

.has-danger{
    border: 2px solid red !important;
}

button:disabled {
    opacity: 0.4;
    cursor: default;
}

.mrg-top{
    margin-top: 10px;
}

a {
    margin-bottom: 5px;
}

.social-btn:hover{
    position: relative;
    transform: translateY(-5px) translateZ(0);
    -webkit-transform: translateY(-5px) translateZ(0);
    animation-duration: 2s;
    opacity: 0.8;
}

.button--loading::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 4px solid transparent;
    border-top-color: #ffffff;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
  }

  .button__text {
    color: #ffffff;
    transition: all 0.2s;
  }

  .button--loading .button__text {
    visibility: hidden;
    opacity: 0;
  }
  
  .button {
    position: relative;
    cursor: pointer;
  }
  

  @keyframes button-loading-spinner {
    from {
      transform: rotate(0turn);
    }
  
    to {
      transform: rotate(1turn);
    }
  }